<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8">
<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		margin-top: 2%;
	}
	
	td, th{
		border: 1px solid black;
		text-align: left;
	}
	
	tr:nth-child(even){
		background-color:#dddddd;
	}
</style>

<title>어피치 도서검색</title>
</head>
<!-- attr사용하여 수정버튼 클릭했을 때, span 태그가 input으로 바뀌게 변경하거나
아니면 isbn을 키값으로 활용하여 다시 받아와서 그리거나 -->
<body>
	<h1>도서 리스트</h1>
	<form method="post" action="/modifybook">
		<button type="button" onclick="location.href='/makebookform'">책 등록</button>
		<button type="submit" id="modifybook">책 수정</button>
		<button type="button" id="deletebook">책 삭제</button>
		<button type="button" onclick="location.href='/index'">목록</button>
		<table id="bookTB">
			<tr>
				<th>*도서PK (ISBN)</th>
				<td><span id="book_id" th:text="${book.book_id}"></span></td>
			</tr>
			<tr>
				<th>카테고리 ID</th>
				<td><span id="cat_id" th:text="${book.cat_id}"></span></td>
			</tr>
			<tr>
				<th>도서명</th>
				<td><span id="book_nm" th:text="${book.book_nm}"></span></td>
			</tr>
			<tr>
				<th>작가</th>
				<td><span id="author_id" th:text="${book.author_id}"></span></td>
			</tr>
			<tr>
				<th>출판사</th>
				<td><span id="pb_id" th:text="${book.pb_id}"></span></td>
			</tr>
			<tr>
				<th>정가</th>
				<td><span id="price" th:text="${book.price}"></span></td>
			</tr>
			<tr>
				<th>발행일(출판일)</th>
				<td><span id="pb_date" th:text="${book.pb_date}"></span></td>
			</tr>
			<tr>
				<th>이미지 경로</th>
				<td><span id="book_img" th:text="${book.book_img}"></span></td>
			</tr>
			<tr>
				<th>쪽수</th>
				<td><span id="pages" th:text="${book.pages}"></span></td>
			</tr>
			<tr>
				<th>총 권수</th>
				<td><span id="volume" th:text="${book.volume}"></span></td>
			</tr>
			<tr>
				<th>도서소개</th>
				<td><span id="book_intro" th:text="${book.book_intro}"></span></td>
			</tr>
			<tr>
				<th>비고</th>
				<td><span id="rmk" th:text="${book.rmk}"></span></td>
			</tr>
			<tr>
				<th>*등록자</th>
				<td><span id="rgr_id" th:text="${book.rgr_id}"></span></td>
			</tr>
			<tr>
				<th>*등록일시</th>
				<td><span id="rgr_dtti" th:text="${book.rgr_dtti}"></span></td>
			</tr>
			<tr>
				<th>*수정자</th>
				<td><span id="ch_id" th:text="${book.ch_id}"></span></td>
			</tr>
			<tr>
				<th>*수정일시</th>
				<td><span id="ch_dtti" th:text="${book.ch_dtti}"></span></td>
			</tr>
		</table>
	</form>
</body>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
	var dataArrayToSend = [];
	var dataArrayToSend1 = [];
 $(document).ready(function(){
	$("#modifybook").click(function(){
		$("#bookTB tr").each(function(){
			dataArrayToSend.push($(this).find("td").eq(0).text());
		});

		console.log('>>>>>');
		$.ajax({
			contentType: "application/json",
			type: "POST",
			data: JSON.stringify(dataArrayToSend),
			url: "modifybook",
			success: function(data) {
				console.log('done');
			},
		error: function(jqXHR, textStatus, errorThrown){
				console.log('error while post');
			}
		});
	});

	$("#deletebook").click(function(){
		var isbn = $("#bookTB tr").find("td").eq(0).text();
		console.log('isbn: ' + isbn);
		$.ajax({
			type : "GET",
			url : "deletebook",
			data: isbn,
			success : function (data) {
				alert("ISBN: " + isbn + "도서를 삭제합니다.")
				window.location.href = "deletebook?isbn=" + isbn;
			},
			error : function () {
				alert("도서를 선택해주세요.");
			}
		});
	});
});
</script>
</html>
