<!DOCTYPE html>
<html>
<head lang="en" xmlns:th="http://thymeleaf.org">
<meta charset="UTF-8">
<style>
	table {
		font-family: arial, sans-serif;
		border-collapse: collapse;
		width: 100%;
		margin-top: 3%;
	}
	
	td, th{
		border: 1px solid black;
		text-align: left;
	}
	
	tr:nth-child(even){
		background-color:#dddddd;
	}
</style>

<title>어피치 도서검색</title>
</head>
<body>
	<h1>도서 리스트</h1>
	<button type="button" onclick="location.href='/makebookform'">책 등록</button>
	<button type="button" onclick="location.href='/modifybook'">책 수정</button>
	<button type="button" onclick="location.href='/deletebook'">책 삭제</button>
	<button type="button" onclick="location.href='/index'">목록</button>

	<table id="bookTB">
		<tr>
			<th>도서PK (ISBN)</th>
			<td><span th:text="${book.book_id}"></span></td>
		</tr>
		<tr>
			<th>카테고리 ID</th>
			<td><span th:text="${book.cat_id}"></span></td>
		</tr>
		<tr>
			<th>도서명</th>
			<td><span th:text="${book.book_nm}"></span></td>
		</tr>
		<tr>
			<th>작가</th>
			<td><span th:text="${book.author_id}"></span></td>
		</tr>
		<tr>
			<th>출판사</th>
			<td><span th:text="${book.pb_id}"></span></td>
		</tr>
		<tr>
			<th>정가</th>
			<td><span th:text="${book.price}"></span></td>
		</tr>
		<tr>
			<th>발행일(출판일)</th>
			<td><span th:text="${book.pb_date}"></span></td>
		</tr>
		<tr>
			<th>이미지 경로</th>
			<td><span th:text="${book.book_img}"></span></td>
		</tr>
		<tr>
			<th>쪽수</th>
			<td><span th:text="${book.pages}"></span></td>
		</tr>
		<tr>
			<th>총 권수</th>
			<td><span th:text="${book.volume}"></span></td>
		</tr>
		<tr>
			<th>도서소개</th>
			<td><span th:text="${book.book_intro}"></span></td>
		</tr>
		<tr>
			<th>비고</th>
			<td><span th:text="${book.rmk}"></span></td>
		</tr>
		<tr>
			<th>등록자</th>
			<td><span th:text="${book.rgr_id}"></span></td>
		</tr>
		<tr>
			<th>등록일시</th>
			<td><span th:text="${book.rgr_dtti}"></span></td>
		</tr>
		<tr>
			<th>수정자</th>
			<td><span th:text="${book.ch_id}"></span></td>
		</tr>
		<tr>
			<th>수정일시</th>
			<td><span th:text="${book.ch_dtti}"></span></td>
		</tr>
	</table>
</body>
</html>